[Unit]
Description=Jenkins CI
After=jenkins-build.service
Requires=jenkins-build.service
PropagatesStopTo=jenkins-build.service

[Container]
Image=localhost/jenkins:latest
ContainerName=jenkins
# Default HTTP port
PublishPort=8080:8080
# Exposed for Jenkins agents
PublishPort=50000:50000
# Jenkins data
Volume=/var/jenkins_home:/var/jenkins_home
# Docker plugin access
Environment=DOCKER_HOST=unix:///var/run/docker.sock
Volume=%t/podman/podman.sock:/var/run/docker.sock

[Service]
Restart=always

[Install]
WantedBy=default.target
